.page-wrapper {
  width: 40%;
  max-width: 390px;
  margin: auto;
  min-height: 90vh;
  background-color: #fff;
  @media screen and (min-width:768px) {
      width: 35%;
      max-width: 380px;
      margin: auto;
  }
  .page-header {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: row;
    background-color: $Background1;
    box-shadow: none;
    border-bottom: 1px solid $Border-color;
    position: relative;
    height: 71px;
    img{
      cursor: pointer;
    }
  }
}
.mr-3{
  margin-right: 15px !important;
}
.mr-2{
  margin-right: 10px !important;
}
.page-header{
  @include FlexAllCenter;
  .header-left{
    @include FlexAllCenter;  
    img {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
  .header-right {
    @include FlexAllCenter;
    img {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
}
.searchform {
  flex: 1;
  margin: 0px 15px;
  .form-control {
    background: #ffffff;
    width: 100%;
    height: 45px;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
  }
}
.page-banner{
  img{
    width: 100%;
  }
}
.profile-content{
  padding: 20px;
  h3{
    padding-bottom: 6px;
  }
  .profileID{
    color: #885FFF;
  }
  .avtar-media{
    display: flex;
    align-items: center;
    margin-top: 20px;
    h4{
      padding-left: 8px;
    }
  }
}
.w-100{
  width: 100%;
}
.dashboard-tabs{
  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #DFDFE0;
    li{
      list-style-type: none;
      flex: 1;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      letter-spacing: -0.154px;
      color: #6F6E73; 
      padding: 13px 0px;
      cursor: pointer;
    }
  }
  .tabs-content{
    padding: 20px;
  }
}
.tabs-content-section{
  flex-direction: column;
  border-bottom: none !important;
  h4{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    letter-spacing: -0.154px;
    color: #414047;
  }
  p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #414047;
    text-align: left;
    margin: 0px;
  }
  li{
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 8px 0px !important;
    margin-bottom: 10px;
    &:first-child{
      padding-top: 0px;
    }
    img{
      position: relative;
      margin-top: 4px;
    }
    .content-trade{
      padding-left: 12px;
      .groupsButton{
          display: flex;
          align-items: center;
          margin-top: 12px;
          button{
            margin-right: 8px;
            background: #33373B;
            border-radius: 6px;
            min-width: 70px;
            height: 25px;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 22px;
            text-align: center;
            letter-spacing: -0.408px;
            color: #FFFFFF;
            border: none;
            cursor: pointer;
            &:last-child{
              background: #FFFFFF;
              border: 1px solid #33373B;
              color: #33373B;
            }
          }
      }
      a{
        text-decoration: none;
        color: #885FFF;
      }
    }
  }
}


// Modal
.ReactModal__Overlay{
  background-color: rgba(51, 55, 59, 0.8) !important;
}
.ReactModal__Content{
  max-width: 300px;
  min-width: 300px;
  border: none !important;
  .close-bttn{
    position: absolute;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .modal-content{
    .profile-content{
      padding: 0px;
      text-align: center;
      h3{
        color: #414047;
        text-align: left;
      }
      h2{
        text-align: left;
      }
      .confirm-bttn{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #FFFFFF;
        background: #885FFF;
        border-radius: 10px;
        min-width: 271px;
        height: 40px;
        border: none;
        width: 100%;
        cursor: pointer;
        position: relative;
        img{
          position: absolute;
          left: 10px;
          top: 12px;
          width: 20px;
          height: 20px;
        }
      }
      .reject-bttn{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #FFFFFF;
        background: #33373B;
        border-radius: 10px;
        min-width: 271px;
        height: 40px;
        border: none;
        width: 100%;
        cursor: pointer;
      }
      .avtar-media{
          h4{
            padding-left: 0px;
          }
          img{
            margin: 0px 10px;
          }
          a{
            color: #885FFF;
            text-decoration: none;
          }
          .amount{
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #33373B;
            background: #F5F5F5;
            border-radius: 4px;
            height: 34px;
            min-width: 123px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      }
      .termsContent{
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #6F6E73;
        padding: 0px 20px;
        a{
          color: #885FFF;
          text-decoration: none;
        }
      }
    }
  }
}
.mt-0{
  margin-top: 0px !important;
}
.reject-form{
  margin: 25px 0px;
  .field-group{
    .input-combo-field{
      position: relative;
      span{
        border-left: 1px solid #DFDFE0;
        height: 45px;
        position: absolute;
        right: 0px;
        min-width: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #414047;
      }
    }
      label{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.154px;
        color: #000000;
        display: block;
        text-align: left;
        padding-bottom: 8px;
      }
      .form-control{
        background: #FCFCFC;
        border: 1px solid #DFDFE0;
        box-sizing: border-box;
        border-radius: 6px;
        height: 45px;
        width: 100%;
        padding: 8px 15px;
        outline: 0px;
        &:focus{
          outline: 0px;
        }
      }
      button{
        margin-top: 25px;
      }
  }
}